<!DOCTYPE html>
<html ng-app="teamgeeksApp">
  
  <head>
  <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.css">
    <script src="js/vendor/angular.js"></script>
    <script src="js/custom/controller.js"></script>
  </head>

  <body ng-controller="TeamgeeksController">
    <h1>TEAM GEEKS</h1>

    <form ng-submit="searchUser(userName)">

      <input type="text" id="textArea" ng-model="userName">
      <input type="submit" name="search" id="search">

    </form>

    <p><img src="{{gitUsers.avatar_url}}"></p>
    <p>Name:{{gitUsers.name}}</p>
    <p>Company: {{gitUsers.company}}</p>
    <p>Username: {{gitUsers.login}}</p>
    <p>Email: {{gitUsers.email}}</p>
<!--     <table class="table table-hover">

      <tr>
        <th>NAME</th>
        <th>AGE</th>
        <th>HOBBIES</th>
        <th>GOOD IN ANGULAR</th>
      </tr>
      <tr ng-repeat="person in persons">
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td>{{person.hobbies[0]}}, {{person.hobbies[1]}}, {{person.hobbies[2]}}, {{person.hobbies[3]}}</td>
        <td>{{person.goodInAngular}}</td>
      </tr>

    </table> -->
    <!-- <ul>

      <li ng-repeat='hobby in hobbies'>{{hobby}}</li>
      <li ng-repeat='person in persons'>{{person.name}}</li>
      <li ng-repeat='person in persons'>{{person.age}}</li>
      <li ng-repeat='person in persons'>{{person.goodInAngular}}</li>
    </ul>
    <!-- <input type="text" ng-model="name"> -->
    <!-- <p>Name: {{name}}</p>
    <p>Age:{{age}}</p>

    <p>Good in Angular: {{goodInAngular}}</p>
     -->

  </body>
</html>